
  .AuthContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .formLoginContainer{
    width: 70%;
    background-color: white;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(5, 0, 0, 0.274);
  }