.comment-form {
    background-color: #ffffff;
    padding: 5em;
    display: flex; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
  }

  .globaleContainerComment{
    margin-top: 5em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .commentContainer {
    display: grid;
    margin:5em;
    align-items: center;
  }
  
  
  .text{
    display: flex;
   margin-bottom:50px;
    font-size: 15px;
    color: black;
    font-weight: bold;

  }

  .comment-avis{
    width: 50%;
    padding: 1rem;
    margin: 1em;
    resize: none;
  }

  .btn-comment {
    position: relative;
    height: 4em;
    top: 10em;
    left: 2em;
    padding: 1em 2em;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: green;
    border-color: green;
    font-weight: 500 ;
  }



