
.profil-form {
   background-color: rgba(0, 0, 0, 0);
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
    color: white;
  }

  .profil-comment {
   margin-left:30% ;
   margin-bottom: 10%;
   padding: 1rem , 5rem, 5rem ,5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#52787a71;
    color: black;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
    
  }

  .profil-Booking{
    background-color:#52787a71;
    display: flex; 
    flex-direction: column;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
  }

  .profilContainer{
    display: flex;
    flex-direction: column  ;
    width: 100%;
    align-items: center;
    text-align: center;
   border: black;
    border-radius: 2em;
    
  }

  .nameProfil{
    margin: 1rem;
    font-size: 2.2rem;
  }
  .textProfil{
    font-size: 1.2rem;
    margin: 0.3rem;
  }

  .textBooking{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  
  }
  .postext{
    margin: 1px;
    font-size: large;
  }

  .globalContainerProfil{
    margin-top: 5em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .profilContainer{
    background-color: rgb(189, 141, 11);
    font-size: large;
    border-radius: 5px;
    
  }
  .titleComment{
  padding: 20px;
    font-size: 30px;
    font-weight: bold;
  }
.commentProfil{
  margin: 5px;
  padding: 15px;
  font-size: 20px;
  background-color: white;
  color: black;
  border-radius: 15px;
  box-shadow: 5px 5px 10px  rgb(181, 216, 247);
  margin-bottom: 3rem;
}

  
 
  
  
  
 
  
