.carride-form {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .globalContainerCarRide{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  
  .carRideContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:10px;
    align-items: center;
  }
  
  .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }

  .text{
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: left;
  }
  .postext{
    margin-bottom: 15px;
  }
  
  .marge{
    margin:1em;
  }


.priceContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBooking{
  grid-column: 1 / 3;
  border: transparent;
  border-radius:2rem ;
  background-color: rgb(27, 152, 168);
  color: white;
}

.buttonBookingDisable{
  background-color: rgb(199, 22, 22);
}