body{
    background-color: rgba(228, 252, 252, 0.644); 
  }

.container-fluid-homepage{
    background: url('./asset/hometuktuk.jpg') no-repeat center center fixed;
   

    background-size: cover;
  
    height: 100vh;
  
    display: flex;
  
    flex-direction: column;
  
    justify-content: flex-start;
  
    align-items: center;
    filter: blur(3px);
    margin-top: 5px;

}
.title{
  
    margin-left: 15px;
    font-weight: bold;
    color: black;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.nav{
    background-color: rgb(219, 237, 253);
   
}
.btn{
    font-size: 20px;
    border-color: rgba(95, 93, 93, 0.329);
    color: white;
    
}
.btn1{
    background-color: green;
    

}
.btn2{
    background-color: red;
}
.btn3{
    background-color: rgb(235, 199, 0);
}

.nav-link {
    margin-left: 10px;
    font-size: 15px;
    font-weight:500;
    color: black;
}

.titleHome{
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.89);
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    z-index: 2;
    
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
   background-size: cover;
   height: 100vh;



}

.title{
    margin-left: 15px;
    font-size: 28px;
    font-weight: bold;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-content {

    text-align: center;
  
    padding-top: 10vh;
  
  }